.cache
.rustup
.zsh_history
.config/mise
.local
.gnupg
.npm
.cargo
.ssh
**.claude**

*.md
!README.md

.config/zsh/.zcompdump*
.config/zsh/90-local.zsh
.config/zsh/local.d/*
!.config/zsh/local.d/.gitkeep

.config/nvim/doc
